<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203415608770-itn3esrgbsllp9n9fp3ago3ouf8vpun9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203415608770-itn3esrgbsllp9n9fp3ago3ouf8vpun9</string>
	<key>API_KEY</key>
	<string>AIzaSyBqNY0b1orJU02_DsPKQSEzXJsFrfMQdTc</string>
	<key>GCM_SENDER_ID</key>
	<string>203415608770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.takica.thuchi</string>
	<key>PROJECT_ID</key>
	<string>thu-chi-1fa56</string>
	<key>STORAGE_BUCKET</key>
	<string>thu-chi-1fa56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203415608770:ios:43f4950ad63affed</string>
	<key>DATABASE_URL</key>
	<string>https://thu-chi-1fa56.firebaseio.com</string>
</dict>
</plist>